{% extends 'main/base.html' %}

{% block content %}



<div class="body__container">

    {% include 'main/includes/header.html' %}

    <main>
        {% for p in data %}
        <div class="main__block-content">
            <div class="title"><h3>{{ p.news_title|upper }}</h3></div>
            <div class="content"><p>{{ p.news_content }}</p></div>
            <div class="image"><img src="/media/{{ p.news_image }}" alt="{{ p.news_title }}">
            </div>
            <div class="btn__con"><a href="{{ request.META.HTTP_REFERER }}" class="btn">Назад</a></div>
        </div>      
        {% endfor %}
    </main>

</div>

{% endblock %}